body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left: 10em;
  margin-right: 10em;
}

a {
  color: #00B7FF;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav{
  margin-bottom: 5em;
}


li a{
    padding: 8px;
}

.nav {
  text-align: center;
}

.nav li {
  display: inline;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
