body {
  padding: 20px;
  margin-left: 8em;
  margin-right: 8em;
  font-family: 'Lato', sans-serif;
}

.bod {
  /*background-image: url('/images/andrewspic.jpg');*/
  padding: 1em;
  border-bottom: 1.5px solid #A9A9A9;
  border-top: 1.5px solid #A9A9A9;
}

.name a:link, .name a:visited, .name a:active{
  font-size: 1.5em;
  color: #2800D8;
}

.name a:hover{
  font-size: 1.5em;
  color: #ffffff;
  background-color: #2800D8;
}


ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav{
  margin-bottom: 2em;
}


li a{
    padding: 8px;
}

.nav {
  text-align: center;
}

.nav li {
  display: inline;
}

.navBar a:link, .navBar a:visited{
  text-decoration: none;
  /*color: #00B7FF;*/
  color: #FA1E64;
}

.navBar a:hover, .navBar a:active{
  color: #ffffff;
  /*background-color: #01FEE9;*/
  background-color: #FA1E64;
  font-style: oblique;
}

table {
  border-spacing: 1.5em;
}

td{
  text-align: left;
  vertical-align: top;
}

footer{
  margin-top: 1.5em;
}

a {
  text-decoration: none;
  color: #2800D8;
}

a:link, a:active{
  color: #2800D8;
}

a:hover{
  color: #ffffff;
  background-color: #2800D8;
}
