<div>
  <p>
    It's the year 2017 and I'm a senior at NYU studying computer science and economics. I moved here from Southern California 4 years ago and I am still not used to New York winters.
    In terms of things I learned in college that I can put to use in the real world in the form of a job,
    I enjoy developing (FullStack) web applications. I develop primarily in NodeJS, though I also use Django,
    and I'm currently working on improving my React skills. I also enjoy game development, especially involving AR/VR.
  </p>
  <p>
    Outside of school work, I like to put my hands on and play around with new technolgoies I either
    1. Keep hearing about 2. Discovered on the internet 3. Am curious about or
    4. There's new stuff about JavaScript and it's the next hottest thing and I must know about it.
    As of now, my biggest project on the side is a Smart Mirror.
  </p>

  <p>I'm also a grader for the Algorithms course at NYU Courant.</p>

<!--  <p>
    At times, I am apart from my computer and I do things then.
    I spend a good portion of my time eating.
    One of the biggest perks/benefit of living in New York City is all the good food.
    My goal is to try as many Ramen restaurants in the city. So far, I'm at 22 (my favorite is Zundo-ya).
    I also enjoy dance, my favorite forms being ballet and jazz.
  </p>-->

  <p>
    <b>For those of you who might find this helpful, here is a summary of things I can do with/on a computer, in order of decreasing proficiency:
    </b>
  </p>
  <h4>Languages: </h4>
  <ul>
    <li>Java</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>C</li>
    <li>C#</li>
    <li>PHP</li>
  </ul>

  <h4>Frameworks and Libraries: </h4>
  <ul>
    <li>Express (NodeJS)</li>
    <li>Django</li>
  </ul>

  <h4>Tools and other stuff:</h4>
  <ul>
    <li>Git</li>
    <li>CLI</li>
    <li>Atom</li>
    <li>Sublime</li>
    <li>Vim</li>
  </ul>

</div>
