<div class="contact">
  <h3>
    Social stuff:
  </h3>
  <ul>
    <li>Follow me on <a href="https://twitter.com/jennnnycl">Twitter</a> for life updates (about my life), unsolicited commentary, and the dankest of memes.</li>
    <li>Checkout my <a href="https://github.com/jennycl">Github</a> for code-related matters.</li>
    <li>And here's my <a href="https://www.linkedin.com/in/jennycl">LinkedIn</a>, if you're into that sort of thing.</li>
    <li>While we're here, let's throw in <a href="https://www.facebook.com/jenniikins">Facebook.</a></li>
  </ul>
  <h3>
    Non-social stuff:
  </h3>
  <p>If you're social media shy, shoot me a good old fashioned email at <b>jenny.liang@nyu.edu</b></p>

</div>
