<h3>Hi there, welcome to my website!</h3>
<p>Please note that this site is currently and forever under construction, as am I, because technology and life.</p>
<p>I like coding, building things, drawing, and dancing. Read more about me in the 'About' page!</p>
