<table>
<tr>
  <td>
    <img src="images/cat5.png" alt="Worry Away" style="width:350px;height:200px;"/>
  </td>
  <td>
    Worry Away
  </td>
</tr>
<tr>
  <td>
    <img src="images/lantern.png" alt="Lantern" style="width:350px;height:200px;"/>
  </td>
  <td>
    Lantern VR
  </td>
</tr>
<tr>
  <td>
    <img src="images/musicQR.png" alt="Music QR" style="width:350px;height:200px;"/>
  </td>
  <td>
    Music QR
  </td>
</tr>
</table>
