<table>
<tr>
  <td>
    <img src="images/lantern.png" alt="Lantern" style="width:350px;height:200px;"/>
  </td>
  <td>
    <h3> <a href="https://github.com/jennycl/LanternVR">Lantern VR</a> </h3>
    <p>A multi-level single player virtual reality game.</p>
    <p>Tech stack: JavaScript, p5, A-Frame libary </p>
  </td>
</tr>

<tr>
  <td>
    <img src="images/cat5.png" alt="Worry Away" style="width:350px;height:200px;"/>
  </td>
  <td>
    <h3> <a href="https://github.com/jennycl/Worry-Away">Worry-Away</a></h3>
    <p>An interactive web application with the sole aim to calm and soothe the user. Random movement is generated using Perlin Noise, and color is picked from RGB values</p>
    <p>Tech stack: Node, Express, JavaScript, p5</p>
  </td>
</tr>
<tr>
  <td>
    <img src="images/musicQR.png" alt="Music QR" style="width:350px;height:200px;"/>
  </td>
  <td>
    <h3><a href="https://github.com/Charlespartina/MusicQR">Music QR</a> </h3>
    <p> A web application that uses QR codes to help music performers distribute their pieces.</p>
    <p>Tech stack: Django, Python, AWS/EC2, JavaScript</p>
  </td>
</tr>

<tr>
  <td>
    <img src="images/website.png" alt="Website" style="width:350px;height:200px;"/>
  </td>
  <td>
    <h3><a href="https://github.com/Charlespartina/MusicQR">This Website</a> </h3>
    <p>This very website that you are currently on right now.</p>
    <p>Tech stack: Node, Express, JavaScript</p>
  </td>
</tr>
</table>
