<p>
  For those of you who might find this helpful, here is a summary of things I can do with/on a computer, in order of decreasing proficiency:
</p>
<h4>Languages: </h4>
<ul>
  <li>Java</li>
  <li>JavaScript</li>
  <li>Python</li>
  <li>C</li>
  <li>C#</li>
  <li>PHP</li>
</ul>

<h4>Frameworks and Libraries: </h4>
<ul>
  <li>Express (NodeJS)</li>
  <li>Django</li>
</ul>

<h4>Tools and other stuff:</h4>
<ul>
  <li>Git</li>
  <li>CLI</li>
  <li>Atom</li>
  <li>Sublime</li>
  <li>Vim</li>
</ul>
